/sdk/dotnet/BccCode.PdfService.Client/.vs/BccCode.PdfService.Client
/sdk/dotnet/BccCode.PdfService.Client/bin/Debug/net6.0
/sdk/dotnet/BccCode.PdfService.Client/obj
/sdk/dotnet/BccCode.PdfService.Client/bin
/sdk/dotnet/BccCode.PdfService.Client.Tests/obj
/sdk/dotnet/BccCode.PdfService.Client.Tests/bin
.env
/samples/out/
