services:
  pdf-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: bcc/pdf-service:latest
    cap_add:
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined

    ports:
      - 8080:8080
    env_file:
      - .env