name: Publish Nuget Package

on:
  workflow_dispatch:

env:
  API_KEY: ${{ secrets.NUGET_API_KEY }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: Package
        working-directory: sdk/dotnet/BccCode.PdfService.Client
        run: |
          dotnet pack -p:PackageVersion=1.0.1.${{ github.run_number}} -c Release -o . BccCode.PdfService.Client.csproj

      - name: Publish
        working-directory: sdk/dotnet/BccCode.PdfService.Client
        run: |
          dotnet nuget push BccCode.PdfService.Client*.nupkg -k ${{env.API_KEY}} -s https://api.nuget.org/v3/index.json --skip-duplicate
